:root {
  height: 100%;
}

html,
body,
#root {
  height: 100%;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blog-content * {
  text-decoration: revert;
  color: revert;
}
